.chat-box {
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  background-color: #e5ddd5;
  /* flex: 1; */
  margin: 0;
  width: 100%;
  /* margin-left: 30px; */
  height: 100vh;
  /* margin-top: 65px; */
}

.chat-header {
  padding: 16px;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.chat-messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  background-color: white;
  flex-direction: column;
  gap: 10px;
  color: black;
  display: flex;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
  outline: none;
  background-color: #F9F8F5;
}

.chat-input button {
  background-color: #9E6135;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}

.chat-input button:hover {
  background-color: #af7144;
}

.chat-box-empty-chat {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  margin: 40px 40px;
}