.messages-page {
  display: flex;
  flex-direction: column;
  height: 100vh;   
  width: 100%;
  background-color: #F9F7F4;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  overflow: hidden; 
}

.messages-header {
  flex: 0 0 60px; 
  padding-left: 60px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
}



.chatbox-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 16px;
  overflow: hidden; 
}

.message-content {
  flex: 1;             
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow: hidden;   
}

.sidebar-box {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 16px;
  width: 30%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;   
}
.back-button {
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  width: fit-content;
}

@media (max-width: 1024px) {
  .messages-header {
    margin-left: 22px;
    font-size: 20px;
    padding-top: 16px;
    /* padding-bottom: 14px; */
  }

  .message-content {
    flex-direction: column;
    gap: 0;
    height: auto;
    width: 100%;
    /* background-color: orange; */
    padding: 0;
    margin: 0;
  }

  .messages-page {
    background-color: white; 
    width: 100%;
    padding: 0;
  }

  .sidebar-box,
  .chatbox-box {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    box-shadow: none;
    /* background-color: red; */
  }

  .chatbox-box {
    padding-top: 0;
    background-color: #F9F7F4;
  }

  .chat-messages {
    background-color: #F9F7F4;
  }

  .back-button {
    margin: 0 0 10px 0;
  }

  .sidebar-search {
    font-size: 16px;
    background-color: #F9F7F4;
    padding: 14px 20px;
    margin: 14px 18px;
    border-radius: 18px;
  }
  
} 

