.invite-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  padding: 25px;
  margin: 20px 0;
  border: 1px solid #e2dacf;
  line-height: 1.5;
  font: ui-sans-serif, system-ui, sans-serif;
}

.invite-card h1 {
  margin: 0 0 16px;
  font-size: 24px;
  font-weight: 500;
  color: #30251d;
  font: ui-sans-serif, system-ui, sans-serif;
}

.Profiles {
  display: flex;
  align-items: flex-start;
  border: 1px solid #e2dacf;
  border-radius: 8px;
  font-size: 16px;
  position: relative;
  padding: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  font: ui-sans-serif, system-ui, sans-serif;
}

.Profiles:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  margin-top: 10px;
}

.details {
  flex: 1;
}

.details h3 {
  padding: 10px 0;
  font-size: 16px;
  color: #30251d;
  font-weight: 600;
  font: ui-sans-serif, system-ui, sans-serif;
}

.details .role {
  font-size: 14px;
  color: #847062;
  margin: 2px 0;
  font-weight: 400;
}

.details .message {
  font-size: 14px;
  color: #30251d;
  margin-bottom: 12px;
  line-height: 1.3;
  font-weight: 300;
}

.collaborate-btn {
  background-color: #dff2e1;
  color: #2f8f3f;
  border: none;
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 20px;
}

.collaborate-btn:hover {
  background-color: #cde8cd;
}

.timestamp {
  display: block;
  margin-top: 12px;
  font-size: 12px;
  color: #888888;
  position: absolute;
  right: 15px;
  top: 35px;
}

.actions button {
  margin: 10px;
}

.accept-btn {
  background-color: #93501f;
  color: #f9f7ea;
  margin-left: 10px;
}

.accept-btn:hover {
  background-color: #b66328;
}

.decline-btn {
  background-color: #f9f8f5;
  color: #30251d;
  border: 1px solid #ede2d1;
}

.decline-btn:hover {
  background-color: #e57d32c5;
}

@media (max-width: 650px) {
  .actions button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
