.chat-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.chat-user-info {
  flex: 1;
  font-weight: bold;
  margin-left: 8px;
}

.chat-header-icons {
  display: flex;
  gap: 12px;
}

.chat-messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto; 
  background-color: #fafafa;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}
.chat-input input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
  outline: none;
  background-color: #F9F8F5;
}
.chat-input textarea {
  flex: 1;
  resize: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.chat-input button {
  margin-left: 8px;
  padding: 8px 14px;
  background-color: #8b4513;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}



.chat-input button:hover {
  background-color: #af7144;
}

.chat-box-empty-chat {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  margin: 40px 40px;
}