
.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}
.message-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-bubble {
  max-width: 60%;
  padding: 10px 14px;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
}

.message-bubble.sent {
  align-self: flex-end;
  background-color: #bb682d;
  color: #fff;
  border-radius: 10px 0 10px 10px;
}

.message-bubble.received {
  align-self: flex-start;
  background-color: #f0ebe6;
  color: #000;
  border-radius: 0 10px 10px 10px;
}

.message-time {
  font-size: 10px;
  color: #999;
  margin-top: 4px;
  align-self: flex-end;
}
